<% @recipes.each do |recipe| %>
  <div class="col-md-4 col-sm-4">
    <div class="thumbnail">
      <div class="caption">
        <%= link_to( image_tag("/assets/images/Hot_pizza.jpg", :class => "img-responsive"), recipe_path(recipe), :class => "thumbnail") %>
        <h3><%= recipe.name %></h3>
        <p>by <%= link_to(recipe.user.fullname, user_path(recipe.user)) %></p>
        <p>
          <%= recipe.description %>
        </p>
      </div>
    </div>
  </div>
<% end %>