<% if session[:user_name] %>
  <li>
    <%= link_to(session[:user_name], "#", :class => "navbar-link") %>
  </li>
<% end %>
<% if session[:user_name] %>
  <li>
    <%= button_to "Log out", 'logout', :class => "btn btn-default navbar-btn", :method => :get %>
  </li>
  <!-- <li> -->
    <%# button_to "Create Recipe", new_recipe_path, :class => "btn btn-default navbar-btn", :method => :get %>
  <!-- </li> -->
  <!-- <li> -->
    <%# link_to "My recipes", recipes_path %>
  <!-- </li> -->
<% else %>
  <li>
    <%= link_to "Sign up", 'sign_up' %>
  </li>
  <li>
    <%= button_to "Log in", 'login', :class => "btn btn-default navbar-btn", :method => :get %>
  </li>
<% end %>