<div class="col-md-3"></div>
<div class="col-md-6">
  <div class="well">
    <h1>Update information</h1>

    <%= bootstrap_form_for(@user, inline_errors: false) do |f| %>
      <%= render :partial => 'form', :locals => {:f => f} %>
      <%= f.submit 'Update information', :class => "btn btn-primary" %>
      <%= link_to 'Cancel', :back, :class => "btn btn-danger" %>
    <% end %>
  </div>

</div>

<div class="col-md-3"></div>