<div class="col-md-3"></div>
<div class="col-md-6">
  <div class="well">
    <h1>Register</h1>
    <p>As soon as you register, you will be able to create your recipes</p>
    
    <%= bootstrap_form_for(@user, inline_errors: false, :url => sign_up_path) do |f| %>
      <%= render :partial => 'form', :locals => {:f => f} %>
      <%= f.submit 'Register', :class => "btn btn-primary" %>
      <%= link_to 'Cancel', :back, :class => "btn btn-danger" %>
    <% end %>
  </div>

</div>

<div class="col-md-3"></div>